.clr_light_gray {
  color: #e6e6e6 !important;
}

.linear_line::before {
  position: absolute;
  left: -23px;
  content: "";
  height: 100%;
  width: 5px;
  border-radius: 7px;
  background: var(
    --linear-colors-linear-3,
    linear-gradient(136deg, #0076be 0%, #48bf91 100%)
  );
}

/* Accordian About */

.accordion-item .accordion-button.collapsed {
  /* border: 2px solid red !important; */
  /* background: linear-gradient(0deg, #0076be 50%, #0076be 50%) !important; */
}
.accordion-item:has(.accordion-header .accordion-button.collapsed) {
  background: linear-gradient(0deg, #0f2d3e, #0f2d3e) !important;
}
.accordion-item {
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
  border-bottom-right-radius: var(--bs-accordion-border-radius);
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 transparent !important;
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-body {
  padding: 0px 16px 13px 16px !important;
  color: white !important;
  background-color: black !important;
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}

.accordion-item {
  position: relative;
  border: 2px solid transparent !important;
  border-radius: 5px;
  background: linear-gradient(0deg, #0076be 50%, #0076be 50%) !important;
  background-clip: padding-box;
  transition: all 300ms ease-in-out !important;
}
.accordion-item::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(0deg, #0076be 50%, #0076be 50%) !important;
  content: "";
  z-index: -1;
  transition: all 300ms ease-in-out !important;
  border-radius: 35px;
}

.accordion-button {
  align-items: start !important;
  color: white !important;
  background-color: black !important;
  border-radius: 4px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.accordion-button::after {
  background-image: url(../src/assets/img/png/down_arrow.png) !important;
}
.accordion {
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
  --bs-accordion-btn-icon-width: 24px !important;
  --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%230c63e4%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: transparent !important;
  border: none !important;
}
.max_width_442 {
  max-width: 442px;
}
@media (min-width: 768px) {
  .max_width_327 {
    max-width: 327px;
  }
  .max_width_405 {
    max-width: 405px;
  }
  .max_width_580 {
    max-width: 580px;
  }
}
