.clr_light_gray {
  color: #e6e6e6 !important;
}

.linear_line::before {
  position: absolute;
  left: -23px;
  content: "";
  height: 100%;
  width: 5px;
  border-radius: 7px;
  background: var(
    --linear-colors-linear-3,
    linear-gradient(136deg, #0076be 0%, #48bf91 100%)
  );
}
/* choose */

.bg_choose {
  background-image: url(../src/assets/img/png/choose_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text_border {
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: #61b1c7;
  color: transparent !important;
}
.line_before {
  position: relative;
}
.mx_1080 {
  max-width: 1080px;
}
.line_before::before {
  content: "";
  position: absolute;
  left: 1.5% !important;
  width: 3px;
  height: 95%;

  background-image: linear-gradient(
      1800deg,
      transparent,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    linear-gradient(
      180deg,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
  background-size: 3px 30px, 100% 20px;
  border: none;
  left: 3%;
}

/* Accordian About */

.accordion-item:has(.accordion-header .accordion-button.collapsed) {
  background: linear-gradient(0deg, #0f2d3e, #0f2d3e) !important;
}
.accordion-item {
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
  border-bottom-right-radius: var(--bs-accordion-border-radius);
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 transparent !important;
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-body {
  padding: 0px 16px 13px 50px !important;
  color: white !important;
  background-color: black !important;
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}

.accordion-item {
  position: relative;
  border: 2px solid transparent !important;
  border-radius: 5px;
  background: linear-gradient(0deg, #0076be 50%, #0076be 50%) !important;
  background-clip: padding-box;
  transition: all 300ms ease-in-out !important;
}
.accordion-item::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(0deg, #0076be 50%, #0076be 50%) !important;
  content: "";
  z-index: -1;
  transition: all 300ms ease-in-out !important;
  border-radius: 35px;
}

.accordion-button {
  align-items: start !important;
  color: white !important;
  background-color: black !important;
  border-radius: 4px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.accordion-button::after {
  background-image: url(../src/assets/img/png/down_arrow.png) !important;
}
.accordion {
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
  --bs-accordion-btn-icon-width: 24px !important;
  --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%230c63e4%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: transparent !important;
  border: none !important;
}
.max_width_442 {
  max-width: 442px;
}

/* Timeline */

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: transparent;
  border: 2px dashed #006e51;
  top: 0;
  bottom: 0;
  left: 50%;
  border-spacing: 4px;
  margin-left: -1px;
  /* margin-top: 20px; */
}

.container_tymline {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
  height: 280px;
}

.container_tymline.left {
  left: 0;
}

.container_tymline.right {
  left: 50%;
}

.container_tymline::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0px;
  right: -8px;
  background: #ffffff;
  border: 2px solid #006e51;
  border-radius: 16px;
  z-index: 1;
}

.container_tymline.right::after {
  left: -8px;
}

.container_tymline .date {
  position: absolute;
  display: inline-block;
  top: -20px !important;
  text-align: center;
  font-weight: bold;
  color: #006e51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container_tymline.left .date {
  right: -55%;
}

.container_tymline.right .date {
  left: -50%;
}

.container_tymline .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #f6d155;
  border: 2px solid #006e51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006e51;
  z-index: 1;
}

.container_tymline.left .icon {
  right: 56px;
}

.container_tymline.right .icon {
  left: 56px;
}

.container_tymline .content {
  padding: 30px 90px 30px 30px;
  background: transparent !important;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container_tymline.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container_tymline .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006e51;
}

.container_tymline .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container_tymline {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container_tymline.right {
    left: 0%;
  }

  .container_tymline.left::after,
  .container_tymline.right::after {
    left: 82px;
  }

  .container_tymline.left::before,
  .container_tymline.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .container_tymline.left .date,
  .container_tymline.right .date {
    right: auto;
    left: 15px;
  }

  .container_tymline.left .icon,
  .container_tymline.right .icon {
    right: auto;
    left: 146px;
  }

  .container_tymline.left .content,
  .container_tymline.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}

@media (min-width: 576px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-3xl: 28px;
    --fs-4xl: 40px;
    --fs-5xl: 48px;
    --fs-8xl: 45px;
    /* line height */
    --lh-15: 150%;
    --lh-16: 160%;
    /* color */
    --clr-lite: #b2b2b2;
  }
}
@media (min-width: 768px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-3xl: 28px;
    --fs-4xl: 40px;
    --fs-5xl: 48px;
    --fs-8xl: 55px;
    /* line height */
    --lh-15: 150%;
    --lh-16: 160%;
    /* color */
    --clr-lite: #b2b2b2;
  }

  .max_width_327 {
    max-width: 327px;
  }
  .max_width_405 {
    max-width: 405px;
  }
  .max_width_580 {
    max-width: 580px;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-3xl: 28px;
    --fs-4xl: 40px;
    --fs-5xl: 48px;
    --fs-8xl: 180px;
    /* line height */
    --lh-15: 150%;
    --lh-16: 160%;
    /* color */
    --clr-lite: #b2b2b2;
  }
  .line_before::before {
    left: 50% !important;
  }
}
@media (min-width: 1140px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-lg: 20px;
    --fs-3xl: 28px;
    --fs-4xl: 40px;
    --fs-5xl: 48px;
    --fs-8xl: 180px;
    /* line height */
    --lh-15: 150%;
    --lh-16: 160%;
    /* color */
    --clr-lite: #b2b2b2;
  }
}
