/* nav-baar */
.nav_btn {
  padding: 14px 31px;
  border-radius: 100px;
  background: var(--linear-colors-linear-3, linear-gradient(136deg, #0076BE 0%, #48BF91 100%));
  transition: 0.3s ease-in-out;
}

.nav_btn:hover {
  background: var(--linear-colors-linear-3, linear-gradient(136deg, #48BF91 0%, #0076BE 100%));
}

nav ul li a:hover {
  color: white;
}

.border_bottom_nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(20px);
}

.z_index_1 {
  z-index: 1;
}

.z_index_minus_1 {
  z-index: -1;
}

.hero_sec_lining::before {
  content: "";
  position: absolute;
  background-image: url(./assets/img/svg/hero_sec_bg_line.svg);
  height: 810px;
  width: 904px;
  top: 0;
  left: 45%;
  transform: translateX(-48%);
  z-index: -1;
}

/* circel */
.dark_pink_bg_circel {
  border-radius: 384px;
  background: var(--main-colors-secondary-colors-red, #D93228);
  filter: blur(170px);
  width: 204px;
  height: 204px;
  top: 20%;
}

/* products */
.products_border {
  position: relative !important;
  background: linear-gradient(140.61deg,
      rgba(255, 255, 255, 0) -1.87%,
      rgba(255, 255, 255, 0) 105.41%);
  border-radius: 15.716px;
  background: linear-gradient(136deg,
      rgba(0, 118, 190, 0.05) 0%,
      rgba(72, 191, 145, 0.05) 100%);
  backdrop-filter: blur(28.484941482543945px);
  transition: 0.3s ease-in-out;
}

.products_border::after {
  content: "";
  position: absolute !important;
  border-radius: 16px;
  background: linear-gradient(136.39deg, #0076be 3.65%, #48bf91 89.63%);
  padding-left: 3px;
  padding-right: 3px;
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}

.products_border:hover {
  transform: translateY(-25px);
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
}

.slick-slide>div {
  display: flex;
}

.clr_lite_blue {
  color: #95D8EB;
}

/******** services********* */
.services_bg_clr {
  background: linear-gradient(136.39deg, #0076BE 3.65%, #48BF91 89.63%);
}

.services_border {
  position: relative !important;
  border-radius: 15.716px;
  border-right: 2px solid var(--white, #FFF);
  border-left: 2px solid var(--white, #FFF);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(28.484941482543945px);
  transition: 0.3s ease-in-out;
}

.services_border::after {
  content: "";
  position: absolute !important;
  border-radius: 16px;
  background: linear-gradient(136.39deg, #fff 3.65%, #fff 89.63%);
  padding-left: 2px;
  padding-right: 2px;
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}

.services_border:hover {
  transform: translateY(-20px);
}

/* faq section */
.faq_sec_img {
  max-width: 724px;
  height: 462px;
}

/* slider arrows */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 20px !important;
  line-height: 20px;
  position: absolute;
  top: 30px !important;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider_arrows:active path {
  fill: black !important;
}

.slider_arrows:active svg {
  fill: white;
}

.cursor_pointer {
  cursor: pointer;
}

.left_arrow_slider {
  left: -50px;
  bottom: 38%;
}

.right_arrow_slider {
  right: -50px;
  bottom: 38%;
}

/* ****contact us****** */
.text_linier_contact {
  background: var(--linear-colors-linear-1, linear-gradient(134deg, #0076BE 0%, #95D8EB 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* form */
.input_bg {
  outline: none;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.02);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.textarea_h {
  height: 150px;
}

.btn_send_now {
  padding: 14px 31px;
  border-radius: 100px;
  background: var(--linear-colors-linear-3, linear-gradient(136deg, #0076BE 0%, #48BF91 100%));
}


.btn_send_now:hover {
  background: var(--linear-colors-linear-3, linear-gradient(136deg, #48BF91 0%, #0076BE));
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  color: fieldtext !important;
}

.w_50 {
  width: 50%;
}

/* footer */
.footer_text:hover {
  color: white !important;
  -webkit-text-stroke-width: 0.5px;
}


.footer_bg_img {
  background-image: url("./assets/img/webp/footer_bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_underline {
  border-top: 1px solid #FFFFFF80
}

.footer_app:hover {
  transform: scale(3px);
}

.max_width_footer {
  max-width: 220px;
}

.footer_logo_width {
  max-width: 111px;
}

/********* roadmap********* */
.roadmap_circel::after {
  content: "";
  position: absolute;
  background-image: url(./assets/img/svg/roadmap-track-circle.svg);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  right: 50%;
  transform: translateX(50%);
  top: 0;
}

.tranformY_20 {
  transform: translateY(-20px);
}

.roadmap_line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background-image: url(../src/assets/img/webp/line.webp);
}

.counting_text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

@-webkit-keyframes roadmap-track-circle {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
  }
}

@keyframes roadmap-track-circle {
  0% {
    -webkit-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
  }
}

.roadmap_circel:hover::after {
  -webkit-box-shadow: -2px 2px 29px rgb(252, 252, 252);
  box-shadow: -2px 2px 29px rgb(252, 252, 252);
  z-index: 2;
  -webkit-animation: roadmap-track-circle 1s;
  animation: roadmap-track-circle 1s;
  -webkit-box-shadow: 0 0 0 0.7em transparent;
  box-shadow: 0 0 0 0.7em transparent;
}

/************* accordian************** */
/* .accordion-button:not(.collapsed)::after {
  background-image: url(./assets/img/svg/negative-icon.svg) !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  background-position-y: center !important;
}

.accordion-button::after {
  background-image: url(./assets/img/svg/positive-icon.svg) !important;
  background-size: contain;
  width: 1rem !important;
  height: 1rem !important;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(./assets/img/svg/positive-icon.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
} */
/* nav-responsive */
@media (max-width:575.98px) {
  .hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 7;
  }

  .w_100 {
    width: 100% !important;
  }

  .bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 3px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    z-index: 5;
  }

  .bar-2 {
    width: 25px;
  }

  .hamburger.active .bar-2:nth-child(2) {
    opacity: 0;
    margin: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    margin: 0 0 5px 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    margin: 5px 0 0 0;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    width: calc(80vw - 65px);
    min-height: 300px;
    text-align: center;
    transition: 0.6s ease-in-out;
    display: inline-block;
    z-index: 5;
  }

  .active {
    right: 0% !important;
  }
}

@media (max-width: 767.98px) {
  .roadmap_line::after {
    left: 20px;
  }

  .roadmap_circel::after {
    left: 7px;
    transform: translateX(0);
  }
}

@media (max-width:992px) {
  .road_circle::after {
    left: -6px;
  }

  .line_before::before {
    left: 30px !important;
  }
}

@media (min-width:767.98px) {
  .max_width_405 {
    max-width: 405px;
  }

  .mobile_img_w {
    max-width: 481px;
    height: 520px;
  }
}

@media (min-width:991.98px) {
  .line_before::before {
    left: 50% !important;
  }
}

@media (min-width:1199.98px) {
  .contact_img_position {
    left: 40px;
    position: absolute;
  }

  .contact_img_w {
    max-width: 598px;
    height: 611px;
  }

  .about_us_img_position {
    left: 30px;
    position: absolute;
  }

  .about_us_img_width {
    width: 561px;
    height: 631px;
  }
}

@media (min-width:1399.98px) {
  .contact_img_position {
    left: 60px;
    position: absolute;
  }

  .about_us_img_position {
    left: 80px;
  }
}